@import 'tailwindcss';
@layer utilities {
  @keyframes fadeInLine {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-line {
    animation: fadeInLine 0.3s ease forwards;
  }

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    50.01%,
    100% {
      opacity: 0;
    }
  }

  .blink {
    animation: blink 1s step-end infinite;
  }
}
